{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "date-fns"
  ],
  "presets": [
    "preact",
    ["env", {
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ]
}
