{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "lodash"
  ],
  "presets": [
    "preact",
    ["env", {
      "useBuiltIns": "entry",
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ]
}
