@import 'normalize.css';

@import './variables';
@import './fonts';

html {
  font-family: "overpass", sans-serif;
  font-size: 16px;
  color: var(--color-font);
  background-color: var(--color-background);
}

fieldset {
  padding: var(--layout-gutter);
  margin: 0;
}
