@import '../../../assets/styles/variables.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: calc(500px - (var(--layout-gutter) * 2));
  margin: 0 auto;
  padding: var(--layout-gutter);
}

.header {
  text-align: center;

  margin-bottom: calc(var(--layout-gutter) * 1);

  & h1 {
    margin: calc(var(--layout-gutter) * 2) 0 calc(var(--layout-gutter) * 1);
  }

  & > img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.group {
  display: flex;
  justify-content: center;
  margin-bottom: var(--layout-gutter);

  & > label {
    flex: 1 1 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & > input {
    flex: 5 1 auto;
  }
}

.reveal {
  margin-bottom: 1vw;

  text-align: right;
  font-size: 0.8em;
  line-height: 2em;
  color: #666;

  & span {
    cursor: pointer;
  }
}
